<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            width:50%;
            margin-left:auto;
            margin-right:auto;
            margin-top: 5%;
        }

        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid black;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
    <title>Room-Temp</title>
    <meta http-equiv="refresh" content="60" >
</head>
<body>
{% for room in rooms %}

<h2>{{ room }}</h2>
<table>
    <tr>
        <th>Temperature</th>
        <th>Humidity</th>
        <th>Date</th>
        <th>Time</th>
    </tr>
    {% for data in rooms[room] %}
    <tr>
        <td>{{ data['temperature'] }}°C</td>
        <td>{{ data['humidity'] }}%</td>
        <td>{{ data['date'] }}</td>
        <td>{{ data['time'] }}</td>
    </tr>
    {% endfor %}
</table>
<br><br>
{% endfor %}
</body>
</html>